<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.school.project_dev.mapper.AnsMapper" >
  <resultMap id="BaseResultMap" type="com.school.project_dev.pojo.Ans" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="ansdesc" property="ansdesc" jdbcType="VARCHAR" />
    <result column="imgpath" property="imgpath" jdbcType="VARCHAR" />
    <result column="soundpath" property="soundpath" jdbcType="VARCHAR" />
    <result column="vidiopath" property="vidiopath" jdbcType="VARCHAR" />
    <result column="praisenum" property="praisenum" jdbcType="INTEGER" />
  </resultMap>
</mapper>