<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.school.project_dev.mapper.UserAnsMapper" >
  <resultMap id="BaseResultMap" type="com.school.project_dev.pojo.UserAns" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="uid" property="uid" jdbcType="INTEGER" />
    <result column="aid" property="aid" jdbcType="INTEGER" />
  </resultMap>
</mapper>